<!DOCTYPE html>
<html lang="sv">
  <head>
    <title>TimeReport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="min-h-screen bg-background">
    <div class="mx-auto flex min-h-screen w-full max-w-app flex-col px-4 sm:px-6">
      <%= render "shared/top_nav" %>
      <main class="flex-1 pb-10 pt-6">
        <%= render "shared/flash" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
